# ==========================================
# CONFIGURATION GÉNÉRALE N8N
# ==========================================
N8N_ENCRYPTION_KEY=ta_cle_secrete_n8n
WEBHOOK_URL=https://ton-instance-n8n.com/

# ==========================================

N8N_HOST=larissa-noncorporative-joel.ngrok-free.dev
WEBHOOK_URL=https://larissa-noncorporative-joel.ngrok-free.dev

# ==========================================
# INTELLIGENCE ARTIFICIELLE (OPENAI) OU TOUT AUTRE INTELLIGENCE ARTIFICIELLE
# ==========================================
# Nécessaire pour l'Agent Principal et la transcription Whisper
OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# ==========================================
# BASE DE DONNÉES (POSTGRESQL)
# ==========================================
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=ecommerce_db
POSTGRES_USER=mon_utilisateur
POSTGRES_PASSWORD=mon_mot_de_passe_robuste

# ==========================================
# MESSAGERIE & NOTIFICATIONS
# ==========================================
# Telegram : Obtenu via @BotFather
TELEGRAM_BOT_TOKEN=123456789:ABCDefghIJKLmnopQRSTuvwxYZ
TELEGRAM_CHAT_ID=votre_chat_id_personnel

# Gmail /Nécessite une application configurée sur Google Cloud Console
GOOGLE_CLIENT_ID=xxxxxxxxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-xxxxxxxxxxxxxxxx
# ==========================================
# Api Pdfshift
url": "https://api.pdfshift.io/v3/convert/pdf"
"authentication": "genericCredentialType"

